@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.navbar1 {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

#black-heart {
    width: 20px;
    margin-right: 1rem;
}

#npm-logo {
    width: 80px;
    height: 25px;
    margin-right: 1rem;

}

#magnifying-glass {
    width: 25px;
    margin-right: 0;
    background-color: rgba(0, 0, 0, .05);

}

.navbar2 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid lightgray;
}
.links {margin-right: 15px;
padding-right: 10px;
display: inline-flex;
gap: 10px;}

.navbar-nav2 {
    display: flex;
    gap: 0px;}

form {
    max-width: 70%;
    min-width: 650px;
    display: flex;
    gap: 0px;
}

input[type="search"] {
    flex: 1;
    padding: 1px;
    font-size: 16px;
    border: 2px solid #ccc;
    background-color: rgba(0, 0, 0, .05);

}

.button__search {
    background: #fb3e44;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: black;
}

.section1 {
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: rgba(232, 217, 217, .3);
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.button__see-plans {
    background: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    color: white;
    border: none;
    padding: 8px 30px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 1.1rem;
}

.button__join-for-free {
    background: rgb(249, 249, 249);
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 30px;
    cursor: pointer;
    font-size: 1.1rem;
}

article.article1 {
    max-width: 40%;
    padding: 35px;
    text-align: center;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#triangle-hexagon {
    max-width: 20%;
}

h2 {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    font-weight: 900;
    padding: 2px 20px;
    margin-bottom: 0px;
    margin-top: 40px;
}

article.article2 {
    max-width: 60%;
    padding: 35px;
    text-align: center;
}


#zero-configuration {
    width: 35px;
}

#team-management {
    width: 35px;
}

#familiar-features {
    width: 35px;
}

#npm-audit {
    width: 35px;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.boxes {
    display: flex;
}

.features {
    padding: 15px;
}

h3 {
    color: #ED1C24;
}

.button__create-an-org {
    background: #000000;
    color: white;
    border: none;
    padding: 12px 82px;
    cursor: pointer;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
    margin-top: 30px;
    font-size: 1.1rem;
}